Dealer's cards:
<ul>
    <% session[:dealer_cards].each do |card| %>
      <li>
        <%= card.to_s %>
      </li>
    <% end %>
</ul>
<!--<img src="/images/cards/clubs_2.jpg" style="margin:0px 5px 5px 0px" />-->
<br/>
<%= session[:username] %>'s cards:
<ul>
    <% session[:player_cards].each do |card| %>
        <li>
          <%= card %>
        </li>
    <% end %>
</ul>
<%if session[:player_total] < 21%>
    <h4><%= session[:username] %> has <%=session[:player_total]%>. What would you like to do?</h4>
    <form id="hit" action="/game/player/hit" method="POST">
        <input type="submit" value="Hit" class="btn btn-success btn-large">
    </form>

    <form id="stay" action="/game/player/stay" method="post">
        <input type="submit" value="Stay" class="btn btn-warning btn-large">
    </form>
<%elsif session[:player_total] == 21%>
    <h4>You hit blackjack!</h4>
<% else %>
    <h4>You busted! You have <%=session[:player_total]%>.</h4>
    <br>
    <h4>Do you want to play again?</h4>
    <a href='/new_game' class="btn btn-primary">Yes</a>
    <a href="/game_over" class="btn">No</a>

<%end%>